<a href="https://colab.research.google.com/github/BENMEZIAN/Pandas-tutorial/blob/main/Missing_values_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# prompt: Create a dataset with over 20 rows containing missing values both categorical and numerical columns, i mean real life columns like (student records) name, age, std, subject, average, grade,....

import pandas as pd
import numpy as np

# Create a list of dictionaries, each representing a student record
data = [
    {'name': 'Alice', 'age': 15, 'std': 10, 'subject': 'Math', 'average': 85, 'grade': 'A'},
    {'name': 'Bob', 'age': 16, 'std': 11, 'subject': 'Science', 'average': 78, 'grade': 'B'},
    {'name': 'Charlie', 'age': 14, 'std': 9, 'subject': 'English', 'average': 92, 'grade': 'A'},
    {'name': 'David', 'age': 17, 'std': 12, 'subject': 'History', 'average': np.nan, 'grade': 'C'},
    {'name': 'Eve', 'age': 15, 'std': 10, 'subject': 'Math', 'average': 80, 'grade': 'B'},
    {'name': 'Frank', 'age': 16, 'std': 11, 'subject': np.nan, 'average': 75, 'grade': 'C'},
    {'name': 'Grace', 'age': 14, 'std': 9, 'subject': 'English', 'average': 95, 'grade': 'A'},
    {'name': 'Henry', 'age': 17, 'std': 12, 'subject': 'Science', 'average': 68, 'grade': 'D'},
    {'name': 'Ivy', 'age': 15, 'std': 10, 'subject': 'Math', 'average': 88, 'grade': 'A'},
    {'name': 'Jack', 'age': 16, 'std': 11, 'subject': 'History', 'average': 72, 'grade': 'C'},
    {'name': 'Kelly', 'age': np.nan, 'std': 9, 'subject': 'English', 'average': 90, 'grade': 'A'},
    {'name': 'Liam', 'age': 17, 'std': 12, 'subject': 'Science', 'average': np.nan, 'grade': 'B'},
    {'name': 'Mia', 'age': 15, 'std': 10, 'subject': 'Math', 'average': 83, 'grade': np.nan},
    {'name': 'Noah', 'age': 16, 'std': 11, 'subject': np.nan, 'average': 70, 'grade': 'C'},
    {'name': 'Olivia', 'age': 14, 'std': 9, 'subject': 'English', 'average': 98, 'grade': 'A'},
    {'name': 'Peter', 'age': 17, 'std': 12, 'subject': 'History', 'average': 65, 'grade': 'D'},
    {'name': 'Quinn', 'age': 15, 'std': 10, 'subject': 'Math', 'average': 87, 'grade': 'A'},
    {'name': 'Ryan', 'age': 16, 'std': 11, 'subject': 'Science', 'average': 79, 'grade': 'B'},
    {'name': 'Sophia', 'age': np.nan, 'std': 9, 'subject': 'English', 'average': np.nan, 'grade': 'A'},
    {'name': 'Thomas', 'age': 17, 'std': 12, 'subject': 'Math', 'average': 82, 'grade': 'B'},
    {'name': 'Ursula', 'age': 15, 'std': 10, 'subject': np.nan, 'average': 76, 'grade': 'C'},
    {'name': 'Vincent', 'age': 16, 'std': 11, 'subject': 'History', 'average': 69, 'grade': 'D'},
    {'name': 'Wendy', 'age': 14, 'std': 9, 'subject': 'English', 'average': 93, 'grade': 'A'}
]


# Create a pandas DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Display the DataFrame
df

       name   age  std  subject  average grade
0     Alice  15.0   10     Math     85.0     A
1       Bob  16.0   11  Science     78.0     B
2   Charlie  14.0    9  English     92.0     A
3     David  17.0   12  History      NaN     C
4       Eve  15.0   10     Math     80.0     B
5     Frank  16.0   11      NaN     75.0     C
6     Grace  14.0    9  English     95.0     A
7     Henry  17.0   12  Science     68.0     D
8       Ivy  15.0   10     Math     88.0     A
9      Jack  16.0   11  History     72.0     C
10    Kelly   NaN    9  English     90.0     A
11     Liam  17.0   12  Science      NaN     B
12      Mia  15.0   10     Math     83.0   NaN
13     Noah  16.0   11      NaN     70.0     C
14   Olivia  14.0    9  English     98.0     A
15    Peter  17.0   12  History     65.0     D
16    Quinn  15.0   10     Math     87.0     A
17     Ryan  16.0   11  Science     79.0     B
18   Sophia   NaN    9  English      NaN     A
19   Thomas  17.0   12     Math     82.0     B
20   Ursula  15.0   10      NaN     76.0     C
21  Vincent  16.0   11  History     69.0     D
22    Wendy  14.0    9  English     93.0     A

In [3]:
#Checking for missing values
print(df.isnull())

# Checking for non-missing values
print(df.notnull())

     name    age    std  subject  average  grade
0   False  False  False    False    False  False
1   False  False  False    False    False  False
2   False  False  False    False    False  False
3   False  False  False    False     True  False
4   False  False  False    False    False  False
5   False  False  False     True    False  False
6   False  False  False    False    False  False
7   False  False  False    False    False  False
8   False  False  False    False    False  False
9   False  False  False    False    False  False
10  False   True  False    False    False  False
11  False  False  False    False     True  False
12  False  False  False    False    False   True
13  False  False  False     True    False  False
14  False  False  False    False    False  False
15  False  False  False    False    False  False
16  False  False  False    False    False  False
17  False  False  False    False    False  False
18  False   True  False    False     True  False
19  False  False  False    False    False  False
20  False  False  False     True    False  False
21  False  False  False    False    False  False
22  False  False  False    False    False  False
    name    age   std  subject  average  grade
0   True   True  True     True     True   True
1   True   True  True     True     True   True
2   True   True  True     True     True   True
3   True   True  True     True    False   True
4   True   True  True     True     True   True
5   True   True  True    False     True   True
6   True   True  True     True     True   True
7   True   True  True     True     True   True
8   True   True  True     True     True   True
9   True   True  True     True     True   True
10  True  False  True     True     True   True
11  True   True  True     True    False   True
12  True   True  True     True     True  False
13  True   True  True    False     True   True
14  True   True  True     True     True   True
15  True   True  True     True     True   True
16  True   True  True     True     True   True
17  True   True  True     True     True   True
18  True  False  True     True    False   True
19  True   True  True     True     True   True
20  True   True  True    False     True   True
21  True   True  True     True     True   True
22  True   True  True     True     True   True

In [10]:
# Checking missing values methods
print(df.isnull().sum()) # missing values at each column
print(df.isnull().sum().sum()) # total missing values

name       0
age        2
std        0
subject    3
average    3
grade      1
dtype: int64
9

In [30]:
# How to handle them (dropping or replacing)
# fillna() method, fill with median, mean, mode

for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype == 'float64' or df[col].dtype == 'int64':
            df[col].fillna(df[col].mean(), inplace=True)


for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype == 'object':
            df[col].fillna(df[col].mode()[0], inplace=True)

df

# Checking for mimssing values
print(df.isnull().sum())
print(df.isnull().sum().sum())

name       0
age        0
std        0
subject    0
average    0
grade      0
dtype: int64
0

In [28]:
# How to take two number after the . for float numbers
pd.options.display.float_format = '{:.2f}'.format
# With set_option
pd.set_option('display.float_format', '{:.2f}'.format)
df

       name   age  std  subject  average grade
0     Alice 15.00   10     Math    85.00     A
1       Bob 16.00   11  Science    78.00     B
2   Charlie 14.00    9  English    92.00     A
3     David 17.00   12  History    81.25     C
4       Eve 15.00   10     Math    80.00     B
5     Frank 16.00   11  English    75.00     C
6     Grace 14.00    9  English    95.00     A
7     Henry 17.00   12  Science    68.00     D
8       Ivy 15.00   10     Math    88.00     A
9      Jack 16.00   11  History    72.00     C
10    Kelly 15.57    9  English    90.00     A
11     Liam 17.00   12  Science    81.25     B
12      Mia 15.00   10     Math    83.00     A
13     Noah 16.00   11  English    70.00     C
14   Olivia 14.00    9  English    98.00     A
15    Peter 17.00   12  History    65.00     D
16    Quinn 15.00   10     Math    87.00     A
17     Ryan 16.00   11  Science    79.00     B
18   Sophia 15.57    9  English    81.25     A
19   Thomas 17.00   12     Math    82.00     B
20   Ursula 15.00   10  English    76.00     C
21  Vincent 16.00   11  History    69.00     D
22    Wendy 14.00    9  English    93.00     A

In [ ]:
# prompt: Resume as comment in of handling missing values

# Handling missing values using different strategies.

# 1. Drop rows with any missing values:
# df.dropna(inplace=True)

# 2. Drop rows where all values are missing:
# df.dropna(how='all', inplace=True)

# 3. Drop rows with missing values in specific columns:
# df.dropna(subset=['column1', 'column2'], inplace=True)

# 4. Fill missing values with a specific value (e.g., 0):
# df.fillna(0, inplace=True)

# 5. Fill missing numerical values with the mean:
# for col in df.columns:
#   if df[col].dtype in ['float64', 'int64']:
#     df[col].fillna(df[col].mean(), inplace=True)

# 6. Fill missing categorical values with the mode:
# for col in df.columns:
#   if df[col].dtype == 'object':
#     df[col].fillna(df[col].mode()[0], inplace=True)

# 7. Forward fill missing values:
# df.fillna(method='ffill', inplace=True)

# 8. Backward fill missing values:
# df.fillna(method='bfill', inplace=True)


# 9. Interpolate missing values:
# df.interpolate(inplace=True)

# 10. Using sklearn SimpleImputer:
# from sklearn.impute import SimpleImputer
# imputer = SimpleImputer(missing_values=np.nan, strategy='mean')  # or 'median', 'most_frequent', 'constant'
# df[['numerical_column']] = imputer.fit_transform(df[['numerical_column']])


# Choose the method that best suits your data and analysis goals.
# Consider the impact of each method on the data distribution and potential biases.